:root{
    --main-bg-color:#2C2D38;
    --main-fg-color:#B57600;
    --main-fg-color-2:#714a00;
    --main-text-color:#fff;
}

body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
#container {
    height:calc(100vh - 2rem);
    background:var(--main-bg-color);
    padding-top:2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#main{
    width:280px;
    background: #25202E;
}
#heading{
    color:var(--main-fg-color);
    user-select: none;
}
#invoice_wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#invoice_box{
    width:90%;
    word-wrap: break-word;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:var(--main-text-color);
    font-family: 'Courier New', Courier, monospace;
}
::selection{
    color:var(--main-text-color);
    background: var(--main-fg-color-2)
}
#get_button{
    padding:.7rem;
    margin-bottom: 2rem;
    color: var(--main-text-color);
    background-color:var(--main-fg-color-2) ;
    border:none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
}
#get_button:hover {
    background: #684401;
}
#get_button:active {
    border-style: none;
}

#footer{
    color:var(--main-fg-color);
    position: absolute;
    bottom:1rem;
    right:0;
    text-align: center;
}

#footer_link{
    color:var(--main-text-color);
    text-decoration: none;
    font-weight: bolder;
}